body {
    font-family: sans-serif;
    background-color: black;
}

#wrapper {
    width: 60%;
    background-color: white;
    padding: 5px 0px 20px 30px;
    margin: 0 auto;
}
#map {
	height: 500px;
	width: 550px;
}

.rightbutton {
    margin-left: 180px;
    font-size: 1em;
}

.right {
    margin-left: 400px;
    margin-top: -135px;
}

.datebuttons {
}

.formdesign {
    font-family: sans-serif;
}
#selectIssue {
}
#issueForm {
    margin-left: 400px;
}